#kepek>tbody>tr>td{
    width: 35%;
}
#kepek{
    border-collapse: collapse;
}
body{
    padding: 0;
    margin: 0;
}

header{
    margin-top: 0;
    padding-top: 0;
    background-image: url('../img/logo.png');
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    height: 20vh;
    background-size: 20vh;
    background-color: #231f20;
    
}

h1{
    padding-top: 0;
    margin-top: 0;
    background: -webkit-linear-gradient(#f9eba4, #bc8425);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}